.promises{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
}

.footerBar{
    background:darkslategrey;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 30%;
}

.shipping{
    color:blanchedalmond;
}

.return{
    color: blanchedalmond;
}

.contact{
    color: blanchedalmond;
}