.modalInput1{
    width: 300px;
    height: 40px;
    margin-left: 200px;
 
}

.modalInput2{
    width: 300px;
    height: 40px;
    margin-left: 200px;
}

.modalInput3{
    width: 300px;
    height: 40px;
    margin-left: 200px;
}

.modalInput4{
    width: 300px;
    height: 40px;
    margin-left: 200px;
}

.modalInput5{
    width: 300px;
    height: 40px;
    margin-left: 200px;
}

.modalInput6{
    width: 300px;
    height: 40px;
    margin-left: 200px;
}

.modalButton{
    margin-left: 200px;
}

