.homeNav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background: bisque;
}

.home{
    margin-left: 100px;
    color: gray;
}

.homeLink{
    text-decoration: none;
}
.navList{
    display: flex;
    list-style-type: none;
    margin-right: 70px;
}


li{
    color:green;
}
.oldNew{
    text-decoration: none;
}

.store{
    padding: 20px;
    font-family: monospace;
}

.signup{
    padding: 20px;
    font-family: monospace;
}

.signin{
    padding: 20px;
    font-family: monospace;
}
